#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook ever."
		%p.name - Alex Geogea

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Wolf Tumblr trust fund Intelligentsia quinoa. Whatever YOLO try-hard cronut roof party, lomo chia slow-carb direct trade you probably haven't heard of them twee pop-up.
			.callout
				%h2 Rocket
				%p Wolf Tumblr trust fund Intelligentsia quinoa. Whatever YOLO try-hard cronut roof party, lomo chia slow-carb direct trade you probably haven't heard of them twee pop-up.
			.callout
				%h2 Ligthning
				%p Wolf Tumblr trust fund Intelligentsia quinoa. Whatever YOLO try-hard cronut roof party, lomo chia slow-carb direct trade you probably haven't heard of them twee pop-up.
#bottom_cta
	.wrapper
		%h2 For Real!
		%p I want you to sign up right now!
		%button= link_to "Click Me!", new_user_registration_path

%footer
	%p &copy; Alex Geogea